<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/simplemde.min.css">
    <script src="/scripts/simplemde.min.js"></script>
    <link rel="stylesheet" href="/styles/home.css">
    <title>Tạo bài viết</title>
</head>

<body>
    <div class="container">
        <div class="folder" id="folder">
            <div class="head_folder">Danh sách bài viết</div>
            <a class="e_post new_post" href="#" onclick="createNewPost()">Tạo bài viết mới</a>
            <div id="list_post"></div>
        </div>
        <div class="editor">
            <div class="tool">
                #id: <input type="text" id="postId" disabled />
                Tên bài viết: <input type="text" id="postTitle" />
                Loại bài viết: <select name="category" id="category"></select>
                <button onclick="savePost()">Lưu</button>
                <button onclick="deletePost()">Xóa</button>
                <button onclick="publishPost()">Publish</button>
            </div>
            <div>
                Trích dẫn: <input type="text" id="postQuote" />
            </div>
            <div>
                Ngày tạo: <i id="createdDateViewer"></i><input type="text" id="createdDate" disabled
                    style="display: none;" />
            </div>
            <div>
                Ngày cập nhật: <i id="updatedDateViewer"></i>
            </div>
            <div>
                Trạng thái: <input type="text" id="postStatus" disabled />
            </div>
            <input type="text" id="postLink" disabled style="display: none;"/>
            <textarea id="md_editor"></textarea>
        </div>
    </div>
</body>
<script src="/scripts/main.js"></script>

</html>