<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assert/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assert/style/main.css">
    <link rel="stylesheet" href="../assert/style/page.css">
    <title>$postTitle</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="topnav" id="topnav">
                <a href="../index.html">Home</a>
                <a href="../posts.html">Posts</a>
                <a href="../about.html">About</a>
                <a href="javascript:void(0);" class="icon" onclick="showNavigation()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        <div class="main">
            <div class="content">
                <h2>$postTitle</h2>
                $postContent
                <div class="create_date">$createdDate</div>
            </div>

            <div class="separator_line">
            </div>

            <div class="table_content">
                <div class="title_table_content">Table of contents</div>
                <div class="title_level">$titleLevel</div>
            </div>

            <div class="comment giscus">

            </div>
        </div>

        <div class="footer">
            @wolopolo
        </div>
    </div>

    <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top">Top</button>
</body>

<script src="../assert/script/main.js"></script>
<script src="https://giscus.app/client.js"
        data-repo="wolopolo/wolopolo.github.io"
        data-repo-id="R_kgDOI2dO8g"
        data-category="General"
        data-category-id="DIC_kwDOI2dO8s4CT_iz"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="vi"
        crossorigin="anonymous"
        async>
</script>

</html>